@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome to Taka's Pizzaria</h1>
    <h2 class="mainSubTitle">The Based Pizza</h2>
    <img class="mainImage" src="~/images/PizzaTime.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1 text-dark" asp-area="" asp-page="Checkout/Thankyou">Pizza Time</a>
    
</div>
